page-login {
	.toolbar-title {
   font-weight:lighter;
    font-size: 1.2rem;
    
	}
	.title-md{
	     margin-left: auto;
	    margin-right: auto;
	}
	.otherlogin.title-md{
		text-align:center;
	}
}
