<ion-header>
  <ion-toolbar>
    <div style="display: flex">
      <div class="nav-button">
      <button ion-button clear small navPop>  
        <ion-icon mode="ios" name="ios-arrow-back"></ion-icon> 
      </button>
      </div>
      <div class="nav-title">登陆</div>
      <div class="nav-button">
        <button ion-button clear small (click)="register()">快速注册</button>
      </div>
    </div>  
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-item>
    <ion-label floating>邮箱</ion-label>
    <ion-input type="text" [(ngModel)]="user.email"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label floating>密码</ion-label>
    <ion-input type="password" [(ngModel)]="user.password"></ion-input>
  </ion-item>


	<div padding>
  <button block ion-button (click) = "login(user)" item-left>登录</button>
	</div>
  <div *ngIf="(googleUser | async) || {} as googleUser">
    <div *ngIf="googleUser.uid">{{googleUser.uid}}</div>
  </div>
  <button ion-button (click)='loginGoogle()'>
    <ion-icon name='logo-googleplus' block outline></ion-icon>
  </button>
<ion-title class = "otherlogin" style = "padding-top: 20px" >或用以下账号登录</ion-title>

  <ion-footer no-border>
  <div class="column">
    <ion-grid>
      <ion-item style = "padding-bottom: 30px">
      <ion-row>
        <ion-col text-center (click) = "toInformation(1)">
          <img src="imgs/weibo.png" height="32" width="32" />
          <div class="font-content">新浪微博</div>
        </ion-col>
     
          <ion-col text-center (click) = "toInformation(2)">
          <img src="imgs/weixin.png" height="32" width="32" />
          <div class="font-content">微信</div>
        </ion-col>
          <ion-col text-center (click) = "toInformation(2)">
          <img src="imgs/facebook.png" height="32" width="32" />
          <div class="font-content">Facebook</div>
        </ion-col>
    </ion-row>
  </ion-item>
  </ion-grid>
</div>
</ion-footer>
</ion-content>
