page-info-detail {
    ion-content{
        padding-top:5px;
    }

    .card-md, .card-ios{
        margin: 20px 18px 38px 18px;
        width: calc(100% - 36px);
        box-shadow: 0px 0px 1px 1px rgba(170, 170, 170, 1);
    }

    .info-img{
        margin: 30px 16px 10px 16px;
        width: calc(100% - 32px);
    }

    .card-title-ios, .card-title-md{
        color: rgba(16, 16, 16, 1);
        font-size: 15px;
        text-align: left;
        line-height: 22px;
    }

    .card-ios p, .card-md p{
        line-height: 19px;
        color: rgba(170, 170, 170, 1);
        font-size: 13px;
        text-align: left;
        font-family: -apple-system;
        margin:0;
    }

    .info-title{
        padding: 13px 0 12px 17px;
        width:100%;
        line-height: 25px;
        border-radius: 0px;
        background-color: rgba(225, 91, 0, 0.95);
        color: white;
        font-size: 17px;
        box-shadow: 0px 1px 0px 0px rgba(170, 170, 170, 1);
        font-family: -apple-system;
    }

    .info-content{
        line-height: 22px;
        color: rgba(16, 16, 16, 1);
        font-size: 15px;
        text-align: left;
        font-family: -apple-system;
    }

    .option-title{
        padding: 13px 0 12px 17px;
        width:100%;
        line-height: 25px;
        border-radius: 0px;
        background-color: rgba(11, 115, 227, 0.8);
        color: white;
        font-size: 17px;
        box-shadow: 0px 1px 0px 0px rgba(170, 170, 170, 1);
        font-family: -apple-system;
    }

    .info-user{
        padding: 0px 30px;
        height: 50px;
        display: flex;
    }

    .info-read{
        flex:1;
        line-height: 20px;
        color: rgba(187, 187, 187, 1);
        font-size: 15px;
        text-align: right;
        font-family: -apple-system;
    }

    .info-like{
        display: flex;
        flex:1;
        line-height: 20px;
        color: rgba(16, 16, 16, 1);
        font-size: 15px;
        font-family: -apple-system;

    }

    .info-collect{
        display: flex;
        flex:1;
        line-height:20px;
        justify-content: center;
        color: rgba(16, 16, 16, 1);
        font-size: 15px;
        font-family: -apple-system;

    }

    .info-margin{
        margin-left: 4px
    }

    .info-share{
        text-align: center;
        padding-bottom: 16px;
        border-bottom: 1px solid #aaaaaa;
    }

    .share-title{
        line-height: 19px;
        color: rgba(187, 187, 187, 1);
        font-size: 13px;
        text-align: center;
        font-family: -apple-system;
        margin-bottom: 17px;
    }

    .share-content{
        padding: 0 40px;
        display: flex;
    }

    .share-content-title{
        line-height: 22px;
        color: rgba(187, 187, 187, 1);
        font-size: 15px;
        text-align: center;
        font-family: -apple-system;
        margin-top:11px;
    }

    .sina, .wechat, .facebook{
        flex:1;

    }

}
