page-change-pic {
    .user-img{
        height:130px; 
        width:130px; 
        border-radius: 50%; 
        background-size: cover; margin:30px auto
    }

    .option{
        width:60%;
        margin: auto;
    }

    .option button{
        width: 100%;
        background-color: #ffd500;
        color: black
    }
}
