<!--
  Generated template for the ActivitylistPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>activitylist</ion-title>
  </ion-navbar>

</ion-header>

<ion-content >
<ion-searchbar
  [(ngModel)]="myInput"
  [showCancelButton]="shouldShowCancel"
  (ionInput)="onInput($event)"
  (ionCancel)="onCancel($event)">
</ion-searchbar>


  <ion-list>
  	<ion-grid>
  		<ion-row justify-content-start>
        	<ion-col col-3>
        		<ion-item no-lines>
    			<button ion-button (click) = "locate()" color = "dark" clear><ion-icon name="locate"></ion-icon></button>
    			</ion-item>
    		</ion-col>


    

    <!-- <ion-item>
      <ion-label>Gaming</ion-label>
      <ion-select [(ngModel)]="gaming" okText="Okay" cancelText="Dismiss">
        <ion-option value="nes">NES</ion-option>
        <ion-option value="n64">Nintendo64</ion-option>
        <ion-option value="ps">PlayStation</ion-option>
        <ion-option value="genesis">Sega Genesis</ion-option>
        <ion-option value="saturn">Sega Saturn</ion-option>
        <ion-option value="snes">SNES</ion-option>
      </ion-select>
    </ion-item> -->
    
		    

		      <!-- <ion-col col-4>
		      <ion-select  (ionChange)="monthChange($event)">
		        <ion-option value="01">January</ion-option>
		        <ion-option value="02">February</ion-option>
		        <ion-option value="03">March</ion-option>
		        <ion-option value="04">April</ion-option>
		        <ion-option value="05">May</ion-option>
		        <ion-option value="06">June</ion-option>
		        <ion-option value="07">July</ion-option>
		        <ion-option value="08">August</ion-option>
		        <ion-option value="09">September</ion-option>
		        <ion-option value="10">October</ion-option>
		        <ion-option value="11">November</ion-option>
		        <ion-option value="12">December</ion-option>
		      </ion-select>
		  </ion-col>
		      <ion-col col-2>
		      <ion-select #sectionSelect2 (ionChange)="dayChange($event)">
		        <ion-option value="01">01</ion-option>
		        <ion-option value="02">02</ion-option>
		        <ion-option value="03">03</ion-option>
		        <ion-option value="04">04</ion-option>
		        <ion-option value="05">05</ion-option>
		        <ion-option value="06">06</ion-option>
		        <ion-option value="07">07</ion-option>
		        <ion-option value="08">08</ion-option>
		        <ion-option value="09">09</ion-option>
		        <ion-option value="10">10</ion-option>
		        <ion-option value="11">11</ion-option>
		        <ion-option value="12">12</ion-option>
		        <ion-option value="13">13</ion-option>
		        <ion-option value="14">14</ion-option>
		        <ion-option value="15">15</ion-option>
		        <ion-option value="16">16</ion-option>
		        <ion-option value="17">17</ion-option>
		        <ion-option value="18">18</ion-option>
		        <ion-option value="19">19</ion-option>
		        <ion-option value="20">20</ion-option>
		        <ion-option value="21">21</ion-option>
		        <ion-option value="22">22</ion-option>
		        <ion-option value="23">23</ion-option>
		        <ion-option value="24">24</ion-option>
		        <ion-option value="25">25</ion-option>
		        <ion-option value="26">26</ion-option>
		        <ion-option value="27">27</ion-option>
		        <ion-option value="28">28</ion-option>
		        <ion-option value="29">29</ion-option>
		        <ion-option value="30">30</ion-option>
		        <ion-option value="31">31</ion-option>

		      </ion-select>
		    
		
		</ion-col> -->
		
	<ion-col col-xl-1>
		<ion-item no-lines >

		 <ion-datetime #sectionSelect2 displayFormat="MMM DD YYYY" [(ngModel)]="event" style="display: none"></ion-datetime>
		</ion-item>
	</ion-col>
	<ion-col col-3>
		<ion-buttons end>
				<button ion-button icon-only (click) = "calendar()" color = "dark" clear><ion-icon name="calendar" item-right></ion-icon></button>
    		</ion-buttons>
    	</ion-col>
	
	
<ion-col col-xl-1>
	
    <ion-item no-lines>
      
	
      <ion-select #sectionSelect3 [(ngModel)]="filters" interface="popover" cancelText="Nah" okText="Okay!" style="display: none">
        <ion-option value="<1km">《1km</ion-option>
        <ion-option value="rating">评分高</ion-option>
        <ion-option value="View">访问</ion-option>
        <ion-option value="feature">热门</ion-option>
        
      		</ion-select>
   	 	</ion-item>
    
	</ion-col>
	<ion-col col-3>
			<ion-buttons end>
				<button ion-button icon-only (click) = "filter()" color = "dark" clear><ion-icon name="md-color-filter" item-left></ion-icon></button>
    		</ion-buttons>
    </ion-col>
			</ion-row>
		</ion-grid>
    </ion-list>

</ion-content>

    <!-- ion-item>
      <ion-label>Pets</ion-label>
      <ion-select [(ngModel)]="pets" multiple="true" [selectOptions]="petAlertOpts">
        <ion-option *ngFor="let o of petData" [value]="o.value">{{o.text}}</ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Skittles</ion-label>
      <ion-select [(ngModel)]="skittles" multiple="true" okText="Okay" cancelText="Dismiss" [compareWith]="compareFn">
        <ion-option *ngFor="let o of skittlesData" [value]="o">{{o.text}}</ion-option>
      </ion-select>
    </ion-item> -->

   

  
    

    <!-- < ion-item> -->
      <!-- <ion-label>Rating</ion-label>
      <ion-select [(ngModel)]="rating" interface="action-sheet">
        <ion-option value="1">1 Star</ion-option>
        <ion-option value="2">2 Stars</ion-option>
        <ion-option value="3">3 Stars</ion-option>
        <ion-option value="4">4 Stars</ion-option>
        <ion-option value="5">5 Stars</ion-option>
      </ion-select>
    </ion-item> --> 

<!--  <-----------------Original code--------------->
 <!-- <ion-content padding>
<ion-searchbar
  [(ngModel)]="myInput"
  [showCancelButton]="shouldShowCancel"
  (ionInput)="onInput($event)"
  (ionCancel)="onCancel($event)">
</ion-searchbar>
<ion-row>
        <ion-col col-4>
          <ion-item>
            <button ion-button (click) = "locate()" color = "dark" clear><ion-icon name="locate"></ion-icon></button>
          </ion-item>
        </ion-col>
        <ion-col col-4>
          <ion-item class="padding-left-3px">
            <button ion-button (click) = "calendar()" color = "dark" clear><ion-icon name="calendar"></ion-icon></button>
          </ion-item>
        </ion-col>
        
        

	<ion-buttons end>
		<button ion-button icon-only (click) = "filter()" color = "dark" clear><ion-icon name="md-color-filter"></ion-icon></button>
	</ion-buttons>      		
	<ion-label>Gender</ion-label>
  <ion-select [(ngModel)]="gender">
    <ion-option value="f">Female</ion-option>
    <ion-option value="m">Male</ion-option>
  </ion-select>
	 </ion-row> -->
	<!-- <ion-row>
        <ion-col text-center>
          <ion-item>
            <button ion-button (click) = "locate()" color = "dark" clear><ion-icon name="locate"></ion-icon></button>
          </ion-item>
        </ion-col>
        <ion-col>
        	
        </ion-col>
        
     </ion-row> -->

<!-- </ion-content> -->
