page-activitylist {
	// ion-icon {
  //       font-size: 25px; //Preferred size here
  //   }
    
  // .popover-content .tiny {
  // font-size: 2px !important;
  // }

  .button-ios, .button-md{
    font-size:1.3rem;
    background-color:#ffd500;
    color:black;
    border-radius: 0
  }

  .button-small-md, .button-small-ios{
    padding: 0 8px !important;
    font-size: 1.8rem;
}
  .list-item{
    padding:1rem;
    border-bottom:1px solid rgb(71, 70, 70);
  }

  .title{
    font-size:1.4rem;
  }

  .list-content{
    display: flex;
    margin-top: .6rem;
  }
  .list-img{
    width: 30%;
    height:6.6rem;
  }
  .list-text{
    flex:1;
    font-size:1.3rem;
    margin-left:.8rem
  }

    
}
