<ion-header>

  <ion-navbar>
    <ion-title *ngIf="userId==null">登陆</ion-title>
		<ion-title *ngIf="userId!=null">我的</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
	<div *ngIf="userID==null">
		<div text-center class="userImg"><img height="130" width="130" src="assets/imgs/user_portrait.png"></div>
		<button class="login" block ion-button (click) = "signIn()" item-left>立即登录</button>
	</div>
	<div *ngIf="userID != null" style="padding-top:50px">
		<div text-center><img height="130" width="130" [src]="userImg"></div>
		<div class = "username" style = "padding-top: 20px; padding-bottom: 20px">
			{{userName}}
		</div>
		
		<ion-grid>
			<ion-row>
				<ion-col>
					<button class="user-button" (click)="toCollection()">我的收藏</button>
				</ion-col>
			</ion-row>
			<ion-row>
				<ion-col>
					<button class="user-button" (click)="toPoint()">我的积分</button>
				</ion-col>
			</ion-row>
			<ion-row>
				<ion-col>
					<button class="user-button" (click)="toSetting()">我的设置</button>
				</ion-col>
			</ion-row>
		</ion-grid>
		<!-- <ion-item>
		<ion-toolbar >
		<ion-buttons start>
					<button class = "icon1" ion-button icon-only>
						<ion-icon name="chatboxes" color = "dark"></ion-icon>
					</button>
			</ion-buttons>
					<ion-buttons>
					<div text-center>
				 <button ion-button full class = "icon2" (click) = "myPost()" color = "dark">我的帖子</button>
		 </div>
				</ion-buttons>
				<ion-buttons end>
					<button ion-button icon-only>
						<ion-icon name="arrow-forward" padding-left= "100px" color="yellow"></ion-icon>
					</button>
				</ion-buttons>
		</ion-toolbar>
		</ion-item> -->
			 
		
		<!-- <button ion-button full outline (click) = "myPost()" color = "dark">我的帖子<ion-icon name="arrow-forward" padding-left= "100px" color="yellow"></ion-icon></button> -->
				<!-- <ion-item>
				<ion-toolbar >
		<ion-buttons start>
					<button class = "icon1" ion-button icon-only>
						<ion-icon name="clipboard" color = "dark"></ion-icon>
					</button>
			</ion-buttons>
					<ion-buttons>
					<div text-center>
				 <button ion-button full class = "icon2" (click) = "myCollection()" color = "dark">我的收藏</button>
		 </div>
				</ion-buttons>
				<ion-buttons end>
					<button ion-button icon-only>
						<ion-icon name="arrow-forward" padding-left= "100px" color="yellow"></ion-icon>
					</button>
				</ion-buttons>
		</ion-toolbar>
		</ion-item> -->
		
		<!-- <ion-item>
		
		<ion-toolbar >
		<ion-buttons start>
					<button class = "icon1" ion-button icon-only>
						<ion-icon name="cash" color = "dark"></ion-icon>
					</button>
			</ion-buttons>
					<ion-buttons>
					<div text-center>
				 <button ion-button full class = "icon2" (click) = "myCredits()" color = "dark">我的积分</button>
		 </div>
				</ion-buttons>
				<ion-buttons end>
					<button ion-button icon-only>
						<ion-icon name="arrow-forward" padding-left= "100px" color="yellow"></ion-icon>
					</button>
				</ion-buttons>
		</ion-toolbar>
		</ion-item> -->
		
		<!-- <ion-item>
		<ion-toolbar >
		<ion-buttons start>
					<button class = "icon1" ion-button icon-only>
						<ion-icon name="clock" color = "dark"></ion-icon>
					</button>
			</ion-buttons>
					<ion-buttons>
					<div text-center>
				 <button ion-button full class = "icon2" (click) = "History()" color = "dark">浏览记录</button>
		 </div>
				</ion-buttons>
				<ion-buttons end>
					<button ion-button icon-only>
						<ion-icon name="arrow-forward" padding-left= "100px" color="yellow"></ion-icon>
					</button>
				</ion-buttons>
		</ion-toolbar>
		</ion-item> -->
		
		<!-- <ion-item>
		<ion-toolbar >
		<ion-buttons start>
					<button class = "icon1" ion-button icon-only>
						<ion-icon name="settings" color = "dark"></ion-icon>
					</button>
			</ion-buttons>
					<ion-buttons>
					<div text-center>
				 <button ion-button full class = "icon2" (click) = "toSetting()" color = "dark">我的设置</button>
		 </div>
				</ion-buttons>
				<ion-buttons end>
					<button ion-button icon-only>
						<ion-icon name="arrow-forward" padding-left= "100px" color="yellow"></ion-icon>
					</button>
				</ion-buttons>
		</ion-toolbar>
		</ion-item> -->
	</div>
				
 				 
 			
 			<!-- <ion-card text-center>
 			<div>城市： 洛杉矶 <button ion-button (click) = "switch" stacked color = "dark" clear>（切换）</button></div>
  				
  			</ion-card>
  	
  	
  	<button ion-button full (click) = "myCredits()" color = "gray">我的积分<ion-icon name="arrow-forward" margin-left= "20px"></ion-icon></button>
  	<<ion-icon name="arrow-forward"></ion-icon> -->
  	
 <!--  <button ion-button full (click) = "myCollection()" color = "gray">我的收藏<ion-icon name="arrow-forward" margin-left= "200px"></ion-icon></button>
  <button ion-button full (click) = "myPost()" color = "gray">我的帖子<ion-icon name="arrow-forward" margin-left= "-200px"></ion-icon></button>
  <button ion-button full (click) = "History()" color = "gray">浏览历史<ion-icon name="arrow-forward" margin-left= "-200px"></ion-icon></button> --> 
  <!-- <button ion-button (click) = "home()">Go back</button> -->

	
</ion-content>
