page-user {

.home-logo{
	background-color: #e5e5e5;
	}

.button {
        background: #fad548;
        color: black;
    }

.button:after{
  margin: 0 200px;
}

.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.title{
     text-align:center;
}




}
