page-user {

.home-logo{
	background-color: #e5e5e5;
	}

.button {
        background: #fad548;
        color: black;
        margin-top: 50px
    }


.displayed {
    display: block;
    margin: 30px auto;
    
}
.title{
     text-align:center;
}

.adjust.title-md{
       
    text-align:center;
   }
    
.icon1.bar-button-md{
    margin-right:200px;
}
.icon2.bar-button-md{
    margin-left:110px;
}




}
