<ion-header>
  <ion-toolbar>
    <!-- <div style="display: flex">
      <div>
      <button ion-button clear medium navPop style="padding: 0;">  
       取消
      </button>
      </div>
  </div> -->
    <ion-title>
      添加活动
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div id="container">
  <ion-list>
  <ion-item id = "rounded">
    
    <ion-input onfocus="this.placeholder = '' " placeholder="活动名称" type="text" onblur="this.placeholder = '活动名称'"#username></ion-input>
  </ion-item>
</ion-list>
</div>
<ion-list>
  <ion-item>
    <ion-textarea #msgInput rows="7" maxLength="200"  onfocus="this.placeholder = '' " placeholder="活动介绍，请不要超过200个字" onblur="this.placeholder = '活动介绍，请不要超过200个字'"></ion-textarea>
  </ion-item>
</ion-list>

<ion-list>
    <ion-grid>
      <ion-row justify-content-start>

  <ion-col col-3>
    <ion-buttons end>
        <button ion-button icon-only (click) = "calendar()" color = "dark" clear><ion-icon name="calendar" item-left></ion-icon></button>
        </ion-buttons>
      </ion-col>


      <ion-col col-xl-1>
    <ion-item>

     <ion-datetime #sectionSelect2 displayFormat="MMM DD YY" [(ngModel)]="event"></ion-datetime>
    </ion-item>
  </ion-col>
  

     
      <ion-col col-xl-1 >
        <ion-item>
      <ion-datetime displayFormat="H:mm" pickerFormat="H mm" [(ngModel)]="event"></ion-datetime>
    </ion-item>
    </ion-col>
 
  </ion-row>
  </ion-grid>
</ion-list>
<ion-row>
        <ion-col col-3>
            <ion-item no-lines>
          <button ion-button (click) = "locate()" color = "dark" clear><ion-icon name="locate"></ion-icon></button>
          </ion-item>
        </ion-col>

        <ion-col col-8>
    <ion-item>
    
    <ion-input onfocus="this.placeholder = '' " placeholder="具体地址" type="text" onblur="this.placeholder = '具体地址'"></ion-input>
  </ion-item>
</ion-col>
</ion-row>


<ion-row>
    <ion-col col-6>
        <ion-item>
        
        <ion-input onfocus="this.placeholder = '' " placeholder="城市" type="text" onblur="this.placeholder = '城市'"></ion-input>
      </ion-item>


    </ion-col>

    <ion-col col-6>
        <ion-item>
        
        <ion-input onfocus="this.placeholder = '' " placeholder="邮编" type="text" onblur="this.placeholder = '邮编'"></ion-input>
      </ion-item>

      
    </ion-col>
</ion-row>

<ion-title style = "padding-top: 50px">活动属性</ion-title>


<!-- <ion-segment mode="md" *ngIf="category==1" [(ngModel)]="freeEvent">
    <ion-segment-button *ngFor="let item of freeEvents" value="{{item}}">

        <div class="custom_button">{{item}}</div>

       

    </ion-segment-button>
  </ion-segment>
 <div *ngIf="category==1" [ngSwitch]="free" >
    <ion-list *ngSwitchCase="'免费'">
      
    </ion-list>
  </div> -->
  <ion-grid>
   <ion-row class="align-items-flex-end">
    <ion-col col-4 no-padding>

    <ion-item no-lines>
      <button ion-button no-margin medium full (click)="addEvent();" [ngStyle]="{'background-color': buttonColor}"  class="custom-button" (click) = "changeState()">免费</button>
    </ion-item>
  </ion-col>
    <ion-col col-8 no-padding>
    <ion-item no-lines>
      
      <button ion-button no-margin full (click)="addEventa();" [ngStyle]="{'background-color': buttonColor1}"  class="custom-button" (click) = "changeState1()">收费 $/人均</button>
     
    </ion-item>
  </ion-col>
</ion-row>
</ion-grid>
<ion-grid>
<ion-list>
<ion-row class="align-items-flex-end">
    <ion-col col-6 no-padding>

    <ion-item no-lines>
      <button ion-button no-margin medium full (click)="addEventb();" [ngStyle]="{'background-color': buttonColor2}"  class="custom-button" (click) = "changeState2()">公共活动</button>
    </ion-item>
  </ion-col>
    <ion-col col-6 no-padding>
    <ion-item no-lines>
      
      <button ion-button no-margin full (click)="addEventc();" [ngStyle]="{'background-color': buttonColor3}"  class="custom-button" (click) = "changeState3()">私人活动</button>
     
    </ion-item>
  </ion-col>
</ion-row>
  </ion-list>
</ion-grid>

<!-- Using radio select --> 

  <!-- <ion-list radio-group>
   <ion-row class="align-items-flex-end">
    <ion-col col-4>

    <ion-item >
      <ion-label color="dark" font = "10px">免费</ion-label>
      <ion-radio color = "yellow" value="always" checked></ion-radio>
    </ion-item>
  </ion-col>
    <ion-col col-8>
    <ion-item>
      <ion-label color="dark">收费</ion-label>
      <ion-radio color = "yellow" value="locked"></ion-radio>
      <ion-input onfocus="this.placeholder = '' " placeholder="$/人均" type="number" onblur="this.placeholder = '$/人均'"></ion-input>
    </ion-item>
  </ion-col>
</ion-row>
</ion-list>
<ion-list radio-group>
<ion-row>
    <ion-col col-6>

    <ion-item>
      <ion-label color="dark">公共活动</ion-label>
      <ion-radio color = "yellow" value="always" checked></ion-radio>
    </ion-item>
  </ion-col>
    <ion-col col-6>
    <ion-item>
      <ion-label color="dark">私人活动</ion-label>
      
      <ion-radio color = "yellow" value="locked"></ion-radio>
    </ion-item>
  </ion-col>
</ion-row>
  </ion-list> -->



<ion-grid class = "button-group">
  <ion-row>
    <ion-col col-3 no-padding>
        <ion-item no-lines no-padding>
           <button ion-button no-margin medium full (click)="addEventd();" [ngStyle]="{'background-color': buttonColor4}" class="btn" (dblclick) = "changeState4()">户外游乐</button>
        </ion-item>
    </ion-col>

    <ion-col col-3 no-padding>
        <ion-item no-lines no-padding>
           <button ion-button no-margin medium full (click)="addEvente();" [ngStyle]="{'background-color': buttonColor5}"  class="btn" (dblclick) = "changeState5()">益智教育</button>
        </ion-item>
    </ion-col>

    <ion-col col-3 no-padding>
        <ion-item no-lines no-padding>
           <button ion-button no-margin medium full (click)="addEventf();" [ngStyle]="{'background-color': buttonColor6}"  class="btn" (dblclick) = "changeState6()">动物植物</button>
        </ion-item>
    </ion-col>

    <ion-col col-3 no-padding>
        <ion-item no-lines no-padding>
           <button ion-button no-margin medium full (click)="addEventg();" [ngStyle]="{'background-color': buttonColor7}"  class="btn" (dblclick) = "changeState7()">游乐园</button>
        </ion-item>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col col-3 no-padding>
        <ion-item no-lines no-padding>
         
           <button ion-button no-margin medium full (click)="addEventh();" [ngStyle]="{'background-color': buttonColor8}"  class="btn" (dblclick) = "changeState8()">室内游乐</button>
         
        </ion-item>
    </ion-col>

    <ion-col col-3 no-padding>
        <ion-item no-lines no-padding>
           <button ion-button no-margin medium full (click)="addEventi();" [ngStyle]="{'background-color': buttonColor9}"  class="btn" (dblclick) = "changeState9()">科普知识</button>
        </ion-item>
    </ion-col>

    <ion-col col-3 no-padding>
        <ion-item no-lines no-padding>
           <button ion-button no-margin medium full (click)="addEventj();" [ngStyle]="{'background-color': buttonColor10}"  class="btn" (dblclick) = "changeState10()">免费停车</button>
        </ion-item>
    </ion-col>

    <ion-col col-3 no-padding>
        <ion-item no-lines no-padding>
           <button ion-button no-margin medium full (click)="addEventk();" [ngStyle]="{'background-color': buttonColor11}"  class="btn" (dblclick) = "changeState11()">其他类型</button>
        </ion-item>
    </ion-col>
  </ion-row>
</ion-grid>
<!-- Using radio select -->
        
            <!-- <ion-grid>
                 <ion-row align-items-center>
             <ion-col col-xl-1>

    <ion-item no-lines>
      <ion-label stacked color="dark">户外游乐</ion-label>
      <ion-radio  color = "yellow"></ion-radio>
    </ion-item>
  </ion-col>
    <ion-col col-xl-1>
    <ion-item no-lines>
      <ion-label stacked color="dark">益智教育</ion-label>
      
      <ion-radio color = "yellow" ></ion-radio>
    </ion-item>
  </ion-col>

  <ion-col col-xl-1>
    <ion-item no-lines>
      <ion-label  stacked color="dark">动物植物</ion-label>
      
      <ion-radio color = "yellow" ></ion-radio>
    </ion-item>
  </ion-col>

  <ion-col col-xl-1>
    <ion-item no-lines>
      <ion-label stacked color="dark">游乐园</ion-label>
      
      <ion-radio color = "yellow" ></ion-radio>
    </ion-item>
  </ion-col>
</ion-row>
</ion-grid>



<ion-list>
<ion-grid>
<ion-row>
  <ion-col col-xl-1>
    <ion-item no-lines>
      <ion-label stacked color="dark">室内游乐</ion-label>
      
      <ion-radio color = "yellow"></ion-radio>
    </ion-item>
  </ion-col>

  <ion-col col-xl-1>
    <ion-item no-lines>
      <ion-label stacked color="dark">科普知识</ion-label>
      
      <ion-radio color = "yellow"></ion-radio>
    </ion-item>
  </ion-col>

  <ion-col col-xl-1>
    <ion-item no-lines>
      <ion-label stacked color="dark">免费停车</ion-label>
      
      <ion-radio color = "yellow"></ion-radio>
    </ion-item>
  </ion-col>

  <ion-col col-xl-1>
    <ion-item no-lines>
      <ion-label stacked color="dark">其他类型</ion-label>
      
      <ion-radio color = "yellow"></ion-radio>
    </ion-item>
  </ion-col>
</ion-row>
</ion-grid>
  </ion-list> -->



         <ion-item no-lines>
          <button ion-button block large (click) = "createEvent()" color = "yellow">建立活动</button>
          </ion-item>


</ion-content>
