<ion-header>

  <ion-navbar>
    <ion-title>活动详情</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <div class="creator" *ngIf="disp.hasOwnProperty('creator')">
    <img [src]="disp.creator.userImg" width="34" height="34" alt="">
    <div class="name">{{disp.creator.userName}}</div>
    <span class="offer">发布</span>
  </div>
  <div class="detail">
    <div class="keyword" >
      <div class="button-space"><button ion-button *ngFor="let item of tags">{{item}}</button></div>
    </div>
    <div class="detail-title">{{disp.title}}</div>
    <div class="section">
      <div id="time">活动时间： 7月12日 10:30am</div>
      <div id="city">城市： {{disp.city}}</div>
      <div id="address">具体地址： {{disp.address}}</div>
      <div id="website" (click)="openBrowser(disp.website)">官网：{{disp.website}}</div>
      <div id="content">{{disp.content}}
        </div>
        <img *ngFor="let item of disp.imgs" class="content-img" [src]="item" alt="">
    </div>
    <div class="info-user">
        <div class="info-like">
          <div (click)="like()"><img id="like" src="assets/imgs/icon_like.png" width="20" height="20"></div>
          <div class="info-margin">点赞</div>
        </div>
        <div class="info-collect">
          <div><img src="assets/imgs/icon_collect.png" width="20" height="20"></div>
          <div class="info-margin">收藏</div>
        </div>
      </div>

      <div class="comments">
        <div class="comments-title">评论</div>
        <div *ngIf="comments.length == 0" style="color:#d8d8d8;text-align: center;margin:5px 0">暂无评论</div>
        <ion-item *ngFor="let item of comments">
          <div class="comment-item" >
            <div class="user-img">
              <img [src]="item.commentUser.originalPosterUserIMG" width="32" height="32">
            </div>
            <div class="comment-content">
                <div>{{item.commentUser.originalPosterUsername}}<span>{{item.datetime}}</span></div>
                <div class="comment-text">{{item.replyContent}}</div>
            </div>
            <div class="comment-like">
              <img src="assets/imgs/icon_like.png" alt="" width="16" height="16">
              <div class="num-like">{{item.totalThumbsUp}}</div>
            </div>
          </div>
        </ion-item>
      </div>
      
  </div>
</ion-content>
<ion-footer no-border>
  <div style="display: flex">
  <input type="text" style="flex:1;height:40px;padding-left:6px;border: 1px solid #d8d8d8;margin:2px;border-radius: 2px" placeholder="说两句">
  <button ion-button>评论</button>
</div>
</ion-footer>
