page-activity {
    .creator{
        display: flex;
        height:50px;
        padding: 7px 16px;
        border-bottom: solid 1px #aaaaaa;
        background-color: white;

    }
    .name{
        flex:1;
        line-height: 34px;
        color: rgba(16, 16, 16, 1);
        font-size: 17px;
        font-family: -apple-system;
        margin-left:10px;
    }

    .offer{
        line-height: 34px;
        color: rgba(255, 213, 0, 1);
        font-size: 13px;
        text-align: center;
        font-family: -apple-system;
    }

    .content{   
        background-color: rgba(248, 248, 248, 1);
    }

    .detail{
        padding-top: 15px;
        text-align: center;
    }

    .keyword{
        text-align: center;
        margin:auto;
        overflow: hidden;
        margin-bottom: 17px;
    }

    .button-space{
        float:left;
        margin:4px;
    }

    .button-md, .button-ios{
            width: 74px;
            border-radius: 2px;
            overflow: hidden;
            height: 40px;
            font-weight: 500;
            line-height: 22px;
            background-color: rgba(255, 213, 0, 1);
            color: rgba(16, 16, 16, 1);
            font-size: 13px;
            text-align: center;
            -webkit-box-shadow: 0px 1px 1px 0px rgba(170, 170, 170, 1);
            box-shadow: 0px 1px 1px 0px rgba(170, 170, 170, 1);
            font-family: -apple-system;
            padding:0;
            margin:2px;
    }
    @media only screen and (min-width: 260px) {
        .keyword {
            margin-left:auto;
            margin-right:auto;
            width:260px;
        }
    }

    @media only screen and (min-width: 344px) {
        .keyword {
            margin-left:auto;
            margin-right:auto;
            width:344px;
        }
    }

    @media only screen and (min-width: 430px) {
        .keyword {
            margin:auto;
            width:430px;
        }
    }

    .detail-title{
        padding:13px 0 12px 17px;
        min-height:50px;
        line-height: 25px;
        border-radius: 0px;
        background-color: rgba(225, 91, 0, 0.95);
        color: white;
        font-size: 17px;
        box-shadow: 0px 1px 0px 0px rgba(170, 170, 170, 1);
        font-family: -apple-system;
        text-align: left;
    }

    .section{
        padding:17px 27px;
        line-height:22px;
        font-size: 14px;
        color: rgba(16,16,16,1);
        text-align: left;
        font-weight: 500;
    }

    #content{
        margin:23px 0;
        line-height: 20px;
    }

    .content-img{
        width: 100%;
        margin-bottom: 20px;
    }

    .info-user{
        padding: 15px 30px;
        height: 50px;
        display: flex;
        border-top: 1px solid #aaaaaa;
        border-bottom: 1px solid #aaaaaa;
        text-align: center;
    }

    .info-like{
        display: flex;
        flex:1;
        line-height: 20px;
        color: rgba(16, 16, 16, 1);
        font-size: 15px;
        font-family: -apple-system;
        text-align: center;


    }

    .info-collect{
        display: flex;
        flex:1;
        line-height:20px;
        justify-content: flex-end;
        color: rgba(16, 16, 16, 1);
        font-size: 15px;
        font-family: -apple-system;
    }

    .info-margin{
        margin-left: 6px;
    }

    .comments{
        margin-top:30px;
        padding: 3px 17px;
        background: white;
        text-align: left;
        border-top: 1px solid #aaaaaa;
        
    }

    .comments-title{
        color: rgba(225, 91, 0, 0.95);
        font-size: 15px;
        font-family: -apple-system;        
    }

    .comment-item{
        display: flex;
        margin-top:8px;
        margin-left:12px;
    }
    .comment-content{
        flex:1;
        margin-left:5px;
        font-size:14px;
    }
    .comment-content span{
        margin-left:5px;
        color:#aaaaaa;
    }
    .comment-text{
        margin-top: 8px;
    }
    .comment-like{
        padding-top:16px;
        text-align: center;
        width: 32px;
    }
    .comment-reply{
        padding-top:16px;
    }
    .num-like{
        font-size:14px;
        color:#aaaaaa;
    }

}