page-home {

}

.nav-title{
	color: #ffffff;
	font-size: 17px;
}

.toolbar-background-md{
	background-color: #fad548;
}

.toolbar-background-ios{
	background-color: #fad548;
}

.tabs-md .tab-button[aria-selected=true] {
  color: #fad548;
  padding: 0;
  font-size: 17px !important;
}

.tabs-md .tab-button[aria-selected="true"] .tab-button-icon{
	color: #fad548;
}

.tabs-ios .tab-button[aria-selected="true"] {
	color: #fad548;
	padding: 0;
	font-size: 17px !important;
}

.tabs-ios .tab-button[aria-selected="true"] .tab-button-icon{
	color: #fad548;
}

.tabs-md .tab-button[aria-selected=false] {
  color: #000000;
  padding: 0;
}

.tabs-ios .tab-button[aria-selected=false] {
  color: #000000;
  padding: 0;
  font-size: 17px;
}

.tabs-md .tab-button-text{
	font-size: 17px;
}

.tabs-md .tab-button-icon{
	color: #000000;
}

.tabs-ios .tab-button-icon{
	color: #000000;
}

.column{
	margin-bottom: 10px
}

$toolbar-md-title-text-color: #000000;
$toolbar-ios-title-text-color: #000000;


