page-profile {
.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.toolbar-title {
   font-weight:lighter;
    font-size: 1.5rem;
    
}
.title-md {
       font-weight:lighter;
    font-size: 1.5rem;
     
    }
   .adjust.title-md{
       
    text-align:center;
   }
    .toolbar-background {
  background-color: white;
      }
      

      .icon1.bar-button-md{
      margin-right:200px;
      }
      .icon2.bar-button-md{
      margin-left:110px;
      }
}
