page-profile {
.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.toolbar-title {
   font-weight:lighter;
    font-size: 1.5rem;
    
}
    .toolbar-background {
  background-color: white;
      }
}
