page-register {

    .button {
        background: #fad548;
        color: black;
    }

    .title {
  position: absolute;
  top: 13px;
  left: 0;
  padding: 0 90px 10px;
  width: 100%;
  height: 100%;
  text-align: center;
}

}
