<ion-header>
  <!-- <ion-navbar>
    <ion-title><ion-searchbar></ion-searchbar></ion-title>
    
  </ion-navbar> -->
  <ion-toolbar>
    <!-- <ion-grid>
      <ion-row>
        <ion-col col-1>
          <button ion-button clear small navPop style="padding: 0;">  
            <img class="back-btn" src="assets/image/back.png" />  
          </button>
        </ion-col>
        <ion-col col-11>
          <ion-searchbar></ion-searchbar>
        </ion-col>
      </ion-row>
    </ion-grid> -->
    <div style="display: flex">
      <div>
      <button ion-button clear small navPop>  
        <ion-icon mode="ios" name="ios-arrow-back" style="font-size:3rem"></ion-icon> 
      </button>
      </div>
      <div style="flex:1"><ion-searchbar [showCancelButton]="shouldShowCancel" (search)="onSearch($event)"></ion-searchbar></div>
    </div>
  </ion-toolbar>
</ion-header>


<ion-content fullscreen>
 <!-- <ion-segment mode="md" *ngIf="category==1" [(ngModel)]="planPurchase">
    <ion-segment-button *ngFor="let item of planPurchases" value="{{item}}">
        {{item}}
    </ion-segment-button>
  </ion-segment> -->

  <!-- <div *ngIf="category==1" [ngSwitch]="planPurchase" >
    <ion-list *ngSwitchCase="'智能消费'">
      <ion-row>
        <ion-col col-6>
          <ion-item>
            <ion-input placeholder="输入您的座驾" clearInput></ion-input>
          </ion-item>
        </ion-col>
        <ion-col col-6>
          <ion-item class="padding-left-3px">
            <ion-input type="number" placeholder="输入您完成购物最长时限" clearInput></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-4>
          <ion-item>
            <ion-input type="text" placeholder="输入商品1" clearInput></ion-input>
          </ion-item>
        </ion-col>
        <ion-col col-4>
          <ion-item class="padding-left-3px">
            <ion-input type="text" placeholder="输入商品2" clearInput></ion-input>
          </ion-item>
        </ion-col>
        <ion-col col-4>
          <ion-item class="padding-left-3px">
            <ion-input type="text" placeholder="输入商品3" clearInput></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-item>
        <ion-label>是否只去有机商店</ion-label>
        <ion-checkbox [(ngModel)]="pepperoni"></ion-checkbox>
      </ion-item>
      <ion-item text-center>
            <button ion-button (click) = "calculate()" color = "dark" outline>计算</button>
      </ion-item>
    </ion-list>
    <ion-list *ngSwitchCase="'打折软件'">
      <ion-item>
          <img src="imgs/dealmoon.png">
        <h2>打折软件</h2>
      </ion-item>
    </ion-list>
    <ion-list *ngSwitchCase="'打折商品'">
      <ion-item>
          <img src="imgs/discount-poster.jpg">
        <h2>打折商品</h2>
      </ion-item>
    </ion-list>
    <ion-list *ngSwitchCase="'团购信息'">
      <ion-item>
          <img src="imgs/group-discount.jpg">
        <h2>团购信息</h2>
      </ion-item>
    </ion-list>
  </div> -->
  <!-- moms strategies end -->

  <!-- information start -->
  <div class="container" >
  <div>
  <ion-segment mode="md" *ngIf="category==1" [(ngModel)]="planPurchase">
      <ion-segment-button *ngFor="let item of planPurchases" value="{{item.name}}" (click)="loadData(item.index)">
        <div class="custom_button">{{item.name}}</div>
      </ion-segment-button>
    </ion-segment>

  <ion-segment mode="md" *ngIf="category==2" [(ngModel)]="lecture">
    <ion-segment-button *ngFor="let item of lectures" value="{{item.name}}" (click)="loadData(item.index)">
      <div class="custom_button">{{item.name}}</div>
    </ion-segment-button>
  </ion-segment>

  <ion-segment mode="md" *ngIf="category==3" [(ngModel)]="strategy">
      <ion-segment-button *ngFor="let item of strategies" value="{{item.name}}" (click)="loadData(item.index)">
          <div class="custom_button">{{item.name}}</div>
      </ion-segment-button>
    </ion-segment>

    <ion-segment mode="md" *ngIf="category==4" [(ngModel)]="expense">
      <ion-segment-button *ngFor="let item of expenses" value="{{item.name}}" (click)="loadData(item.index)">
          <div class="custom_button">{{item.name}}</div>
      </ion-segment-button>
    </ion-segment>

  </div>
  <div style="flex:1">
  <ion-scroll scrollY="true" style="height: 100%;">
  <div>
    <ion-list *ngIf="category!=4">
        <div class="info-list" *ngFor="let item of disp$ | async" (click)="openDetail(item.key)">
          <div class="info-title">{{item.title}}</div>
          <div style="display: flex">
            <div><img src="assets/imgs/logo.png" height="70" width="110"></div>
            <div class="info-content">
                {{item.content}}
             </div>
          </div>  
        </div>
    </ion-list>
    <ion-list *ngIf="category==4">
        <div class="info-list" *ngFor="let item of disp$"(click)="openExchange(item.key)">
          <div class="info-title">{{item.title}}</div>
          <div style="display: flex">
            <div><img src="assets/imgs/logo.png" height="70" width="110"></div>
            <div class="exchange-text">
                <div class="exchange-content">
                    位置：{{item.zipCode}}
                 </div>
                 <div class="exchange-content">
                    单价：{{item.sale}}
                 </div>
            <div class="exchange-time">
                  发帖日期：{{item.createTime}}
            </div>
            </div>
          </div>  
        </div>
    </ion-list>
  </div>
  </ion-scroll>
  </div>
  </div>
  <!-- information end -->

  <!-- moms strategies start -->
  

  <!-- <div *ngIf="category==3" [ngSwitch]="strategy">
    <ion-list *ngSwitchCase="'学区攻略'">
        <div style="padding-left:9px; padding-right:21px;border-bottom:1px solid #aaaaaa">
            <div style="font-size: 15px;margin: 7px 0px;width:100%;overflow: hidden; white-space: nowrap; text-overflow: ellipsis;">洛杉矶理财洛杉矶理财洛杉矶理财洛杉矶理财洛杉矶理财洛杉矶理财</div>
            <div style="display: flex">
              <div><img src="assets/imgs/logo.png" height="70" width="110"></div>
              <div style="flex:1; font-size: 13px;margin-left: 11px;margin-bottom: 17px;color:rgba(16, 16, 16, 0.5);overflow:hidden;text-overflow: ellipsis;height:76px">
                  洛杉矶理财洛杉矶理财洛杉矶理财洛杉矶理财洛杉矶理财洛杉矶理财洛杉矶理财洛杉矶理财洛杉矶理财洛杉矶理财洛杉矶理财洛杉矶理财洛杉矶理财洛杉矶理财洛杉矶理财洛杉矶理财洛杉矶理财洛杉矶理财洛杉矶理财洛杉矶理财洛杉矶理财洛杉矶理财
               </div>
            </div>  
          </div>
    </ion-list>
    <ion-list *ngSwitchCase="'出游攻略'">
        <div style="padding-left:9px; padding-right:21px;border-bottom:1px solid #aaaaaa">
            <div style="font-size: 15px;margin: 7px 0px;width:100%;overflow: hidden; white-space: nowrap; text-overflow: ellipsis;">洛杉矶理财洛杉矶理财洛杉矶理财洛杉矶理财洛杉矶理财洛杉矶理财</div>
            <div style="display: flex">
              <div style=""><img src="assets/imgs/logo.png" height="70" width="110"></div>
              <div style="flex:1; font-size: 13px;margin-left: 11px;margin-bottom: 17px;color:rgba(16, 16, 16, 0.5);overflow:hidden;text-overflow: ellipsis;height:76px">
                  洛杉矶理财洛杉矶理财洛杉矶理财洛杉矶理财洛杉矶理财洛杉矶理财洛杉矶理财洛杉矶理财洛杉矶理财洛杉矶理财洛杉矶理财洛杉矶理财洛杉矶理财洛杉矶理财洛杉矶理财洛杉矶理财洛杉矶理财洛杉矶理财洛杉矶理财洛杉矶理财洛杉矶理财洛杉矶理财
               </div>
            </div>  
          </div>
    </ion-list>
    <ion-list *ngSwitchCase="'医疗攻略'">
        <div style="padding-left:9px; padding-right:21px;border-bottom:1px solid #aaaaaa">
            <div style="font-size: 15px;margin: 7px 0px;width:100%;overflow: hidden; white-space: nowrap; text-overflow: ellipsis;">洛杉矶理财洛杉矶理财洛杉矶理财洛杉矶理财洛杉矶理财洛杉矶理财</div>
            <div style="display: flex">
              <div style=""><img src="assets/imgs/logo.png" height="70" width="110"></div>
              <div style="flex:1; font-size: 13px;margin-left: 11px;margin-bottom: 17px;color:rgba(16, 16, 16, 0.5);overflow:hidden;text-overflow: ellipsis;height:76px">
                  洛杉矶理财洛杉矶理财洛杉矶理财洛杉矶理财洛杉矶理财洛杉矶理财洛杉矶理财洛杉矶理财洛杉矶理财洛杉矶理财洛杉矶理财洛杉矶理财洛杉矶理财洛杉矶理财洛杉矶理财洛杉矶理财洛杉矶理财洛杉矶理财洛杉矶理财洛杉矶理财洛杉矶理财洛杉矶理财
               </div>
            </div>  
          </div>
    </ion-list>
    <ion-list *ngSwitchCase="'小知识'">
          <div style="padding-left:9px; padding-right:21px;border-bottom:1px solid #aaaaaa">
              <div style="font-size: 15px;margin: 7px 0px;width:100%;overflow: hidden; white-space: nowrap; text-overflow: ellipsis;">洛杉矶理财洛杉矶理财洛杉矶理财洛杉矶理财洛杉矶理财洛杉矶理财</div>
              <div style="display: flex">
                <div style=""><img src="assets/imgs/logo.png" height="70" width="110"></div>
                <div style="flex:1; font-size: 13px;margin-left: 11px;margin-bottom: 17px;color:rgba(16, 16, 16, 0.5);overflow:hidden;text-overflow: ellipsis;height:76px">
                    洛杉矶理财洛杉矶理财洛杉矶理财洛杉矶理财洛杉矶理财洛杉矶理财洛杉矶理财洛杉矶理财洛杉矶理财洛杉矶理财洛杉矶理财洛杉矶理财洛杉矶理财洛杉矶理财洛杉矶理财洛杉矶理财洛杉矶理财洛杉矶理财洛杉矶理财洛杉矶理财洛杉矶理财洛杉矶理财
                 </div>
              </div>  
            </div>
    </ion-list>
  </div> -->
  <!-- moms strategies end -->

  <!-- expense platform start -->
  <!-- <div *ngIf="category==4" [ngSwitch]="expense">
    <ion-list *ngSwitchCase="'商品买卖'">
        <div style="padding-left:9px; padding-right:21px;border-bottom:1px solid #aaaaaa">
            <div style="font-size: 15px;margin: 7px 0px;width:100%;overflow: hidden; white-space: nowrap; text-overflow: ellipsis;">洛杉矶理财洛杉矶理财洛杉矶理财洛杉矶理财洛杉矶理财洛杉矶理财</div>
            <div style="display: flex">
              <div style=""><img src="assets/imgs/logo.png" height="70" width="110"></div>
              <div style="flex:1; font-size: 13px;margin-left: 11px;margin-bottom: 17px;color:rgba(16, 16, 16, 0.5);overflow:hidden;text-overflow: ellipsis;height:76px">
                  洛杉矶理财洛杉矶理财洛杉矶理财洛杉矶理财洛杉矶理财洛杉矶理财洛杉矶理财洛杉矶理财洛杉矶理财洛杉矶理财洛杉矶理财洛杉矶理财洛杉矶理财洛杉矶理财洛杉矶理财洛杉矶理财洛杉矶理财洛杉矶理财洛杉矶理财洛杉矶理财洛杉矶理财洛杉矶理财
               </div>
            </div>  
          </div>
    </ion-list>
    <ion-list *ngSwitchCase="'家政服务'">
        <div style="padding-left:9px; padding-right:21px;border-bottom:1px solid #aaaaaa">
            <div style="font-size: 15px;margin: 7px 0px;width:100%;overflow: hidden; white-space: nowrap; text-overflow: ellipsis;">洛杉矶理财洛杉矶理财洛杉矶理财洛杉矶理财洛杉矶理财洛杉矶理财</div>
            <div style="display: flex">
              <div style=""><img src="assets/imgs/logo.png" height="70" width="110"></div>
              <div style="flex:1; font-size: 13px;margin-left: 11px;margin-bottom: 17px;color:rgba(16, 16, 16, 0.5);overflow:hidden;text-overflow: ellipsis;height:76px">
                  洛杉矶理财洛杉矶理财洛杉矶理财洛杉矶理财洛杉矶理财洛杉矶理财洛杉矶理财洛杉矶理财洛杉矶理财洛杉矶理财洛杉矶理财洛杉矶理财洛杉矶理财洛杉矶理财洛杉矶理财洛杉矶理财洛杉矶理财洛杉矶理财洛杉矶理财洛杉矶理财洛杉矶理财洛杉矶理财
               </div>
            </div>  
          </div>
    </ion-list>
    <ion-list *ngSwitchCase="'房屋租住'">
        <div style="padding-left:9px; padding-right:21px;border-bottom:1px solid #aaaaaa">
            <div style="font-size: 15px;margin: 7px 0px;width:100%;overflow: hidden; white-space: nowrap; text-overflow: ellipsis;">洛杉矶理财洛杉矶理财洛杉矶理财洛杉矶理财洛杉矶理财洛杉矶理财</div>
            <div style="display: flex">
              <div style=""><img src="assets/imgs/logo.png" height="70" width="110"></div>
              <div style="flex:1; font-size: 13px;margin-left: 11px;margin-bottom: 17px;color:rgba(16, 16, 16, 0.5);overflow:hidden;text-overflow: ellipsis;height:76px">
                  洛杉矶理财洛杉矶理财洛杉矶理财洛杉矶理财洛杉矶理财洛杉矶理财洛杉矶理财洛杉矶理财洛杉矶理财洛杉矶理财洛杉矶理财洛杉矶理财洛杉矶理财洛杉矶理财洛杉矶理财洛杉矶理财洛杉矶理财洛杉矶理财洛杉矶理财洛杉矶理财洛杉矶理财洛杉矶理财
               </div>
            </div>  
          </div>
    </ion-list>
    <ion-list *ngSwitchCase="'妈妈兼职'">
        <div style="padding-left:9px; padding-right:21px;border-bottom:1px solid #aaaaaa">
            <div style="font-size: 15px;margin: 7px 0px;width:100%;overflow: hidden; white-space: nowrap; text-overflow: ellipsis;">洛杉矶理财洛杉矶理财洛杉矶理财洛杉矶理财洛杉矶理财洛杉矶理财</div>
            <div style="display: flex">
              <div style=""><img src="assets/imgs/logo.png" height="70" width="110"></div>
              <div style="flex:1; font-size: 13px;margin-left: 11px;margin-bottom: 17px;color:rgba(16, 16, 16, 0.5);overflow:hidden;text-overflow: ellipsis;height:76px">
                  洛杉矶理财洛杉矶理财洛杉矶理财洛杉矶理财洛杉矶理财洛杉矶理财洛杉矶理财洛杉矶理财洛杉矶理财洛杉矶理财洛杉矶理财洛杉矶理财洛杉矶理财洛杉矶理财洛杉矶理财洛杉矶理财洛杉矶理财洛杉矶理财洛杉矶理财洛杉矶理财洛杉矶理财洛杉矶理财
               </div>
            </div>  
          </div>
    </ion-list>
  </div> -->
  <!-- expense platform end -->
</ion-content>
<ion-footer no-border *ngIf="category==4">
    <div class="icon-add" (click)="openAdd()"></div>
  </ion-footer>
